.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #595959;
	font-size: 14px;
	background: #fff;
	line-height: 21px;
	font-weight: 300;
	display: inline-block;
	font-family: $font-roboto;
	border: 1px solid #c4c4c4;
	padding: 10px 10px 10px 50px;
	@include border-radius(4px);
	@include placeholder(#595959);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&.form-name {
		background: url("../img/icon_user.png") 12px 50% no-repeat;
	}

	&.form-phone{
		background: url("../img/icon_phone.png") 12px 50% no-repeat;
	}
}

.red {

	.form-control {
		border-color: #ff0000;

		&.invert {
			border-color: #ff0000;
		}
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}