.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #595959;
	font-size: 14px;
	background: #fff;
	line-height: 21px;
	font-weight: 300;
	display: inline-block;
	font-family: $font-roboto;
	border: 1px solid #c4c4c4;
	padding: 10px 10px 10px 50px;
	@include border-radius(4px);
	@include placeholder(#595959);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&.form-name {
		background: url("../img/icon_user.png") 12px 50% no-repeat;
	}

	&.form-phone{
		background: url("../img/icon_phone.png") 12px 50% no-repeat;
	}
}

.red {

	.form-control {
		border-color: #ff0000;

		&.invert {
			border-color: #ff0000;
		}
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}


.modal-box {
	color: #000;
	width: 380px;
	background: #fff;
	padding: 30px 30px 20px 30px;
	@include border-radius(15px);

	.form__title {
		font-size: 26px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
		font-family: $font-heavy;

		span {
			display: block;
			font-size: 19px;
			line-height: 26px;
		}
	}

	.form__source {
		margin: 0;
		padding: 0 0 10px 0;
		list-style: none;

		li {
			color: #000;
			font-size: 14px;
			line-height: 18px;
			padding-left: 40px;
			position: relative;
			margin-bottom: 10px;

			&:before {
				top: 2px;
				left: 10px;
				width: 16px;
				height: 17px;
				content: ' ';
				position: absolute;
				background: url("../img/icon_check.png") 0 0 no-repeat;
			}
		}
	}


	&.done {
		width: 400px;
		padding-top: 40px;

		.done__text {
			font-size: 30px;
			text-align: center;
			margin-bottom: 50px;
			padding-top: 40px;
		}
	}
}


.btn_close {
	top: -45px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon_close.png") 0 0 no-repeat;
}

.sup {
	color: #3d3d3d;
	font-size: 11px;
	text-align: center;
}